{% extends 'headers/header.html.twig' %}
{% block main %}

   {# <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                {#<img src="{{ asset('/uploads/'~image.name) }}" class="d-block w-100" alt="...">#}
    {# <img src="{{ vich_uploader_asset(roomDetails, 'imageFile') }}"
                     alt=""
                     style="max-height: 500px;
                            max-width: 500px;
margin: 10px">
                <p>coucou</p>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


            incididunt ut :

            incididunt ut labore et dolore magna aliqua.

            incididunt ut labore et dolore magna aliqua.

            incididunt ut labore et dolore magna aliqua.

            incididunt ut labore et dolore magna aliqua.

        </p>
    </div>

    <form>

    </form>

{% endblock %}#}
<main>

    <div style="max-width: 90%" class="d-flex justify-content-center">

        <div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
             {#    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                #}</div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ vich_uploader_asset(roomDetails, 'imageFile') }}"
                         alt=""
                         style="max-height: 500px;
                                max-width: 1000px;
                                margin: 10px">
                </div>
                {#  <div class="carousel-item">#}
                    {#  <img src="..." class="d-block w-100" alt="...">#}
                {#  <img src="{{ vich_uploader_asset(roomDetails, 'imageFile') }}"
                         alt=""
                         style="max-height: 500px;
                                max-width: 1000px;
                                margin: 10px">
                </div>
                <div class="carousel-item">
                    {#  <img src="..." class="d-block w-100" alt="...">#}
                    {# <img src="{{ vich_uploader_asset(roomDetails, 'imageFile') }}"
                         alt=""
                         style="max-height: 500px;
                                max-width: 1000px;
                                margin: 10px">
                </div>#}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="p-3">
        <p>
            {{ roomDetails.description }}
        </p>

         <ul>
             <li>incididunt ut :</li>
             <li>incididunt ut labore et dolore magna aliqua.</li>
             <li>incididunt ut labore et dolore magna aliqua.</li>
             <li>incididunt ut labore et dolore magna aliqua.</li>
             <li>incididunt ut labore et dolore magna aliqua.</li>

         </ul>
    </div>


    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div>

        <h1>Booking</h1>

        {{ form_start(form) }}
        {{ form_row(form.room) }}
        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.amount) }}
        {{ form_row(form.booker) }}

        <button type="submit" class="btn">Valider</button>

        {{ form_end(form) }}
    </div>

</main>
{% endblock %}