{% extends 'headers/header.html.twig' %}

{% block title %}
    {{ room.title }}
{% endblock %}

{% block main %}
    <div class="room-title" >
        <img src="{{ vich_uploader_asset(room, 'imageFile') }}" alt="">
        <div class="container">
            <h1>{{ room.title }}</h1>
            <p>{{ room.description }}</p>
            <p class="h2">
                <strong>{{ room.countrooms }} chambres</strong> pour <strong>{{ room.price / 100}}&euro;</strong> par nuit
            </p>
            <a href="#" class="btn btn-primary"> Réserver ! </a>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3">
                {{ room.description }}
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img src="http://placehold.it/64x64" alt="">
                    </div>
                    <div class="col">
                        <h3>Joseph Dupont</h3>
                        <span class="badge badge-primary">3 annonces</span>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            </div>
        </div>
    </div>
{% endblock %}

